*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;;
}
p{
    font-size: 20px;
    padding-top: 10px;
}

/* HEADER STYLES */
header{
    width: 100%;
    background-color: rgba(49,97,224,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-row{
    margin-top: 20px;
    width: 80%;
    display: flex;
}

.col-25{
    width: 25%;
    display: flex;
    align-items: center;
}

.col-25-2{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.col-50{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    padding: 20px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.h-button{
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 15px;
    background-color:white ;
    border: none;
}
/* END HEADER STYLES */
/* MAIN STYLES */
main{
    width: 100%;
    height: 100%;
}

/* FIRST LAYOUT */
.first-container{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
}

.first-row{
    width: calc(100% - 40px);
    margin: 0 15px;
    display:flex;  
    flex-direction: row;
    justify-content: flex-start;
    align-content:flex-end;
}

.first-col{
    width: 100%;
    height: 100%;
    padding: 80px;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

.paragraf{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}


.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.first-button{
    border-radius: 35px;
    font-size: 15px;
    background-color:white ;
    border: none;
    padding: 13px 30px;
    margin-right: 10px;
}

.second-button{
    background-color:black ;
    color: white;
    border-radius: 35px;
    border: none;
    font-size: 15px;
    padding: 13px 40px;
    margin-left: 10px;
}

/* END FIRST LAYOUT */
/* SECOND AND FOURTH LAYOUT */
.container{
    width: 100%;
}

.row{
    width: calc(100% - 300px);
    margin: 100px 150px;
    display:flex;  
    flex-direction: row;
    justify-content: center;
    align-items:center; 
}

.col-60{
    width: 60%; 
}

.col-40{
    width: 40%;
}

.col-40-2{
    width: 40%;
    font-size: 20px;
}

h2{
    color: rgba(35,39,42,255);
    font-size: 40px;
}

.col-40:last-child{
    color: rgba(35,39,42,255);
    font-size: 20px;
}
/* END SECOND AND FOURTH LAYOUT */
/* THIRD LAYOUT */
.third-container{
    background-color: rgba(246,246,246,255);
    width: 100%;
}

.third-row{
    width: calc(100% - 400px);
    margin: 0 200px;
    display:flex;  
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.third-row .first-col{
    width: 45%;
}

.third-row .second-col{
    width: 55%;
    padding-top: 100px;
    
}
/* END THIRD LAYOUT */
/* FIFTH LAYOUT */
.fifth-container{
    background-color: rgba(246,246,246,255);
    width: 100%;
    display:flex;  
    flex-direction: row;
    justify-content: center;
    align-content:center;
}

.fifth-row{
    width: calc(100% - 400px);
    margin: 150px 200px;
    display:flex;  
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.big-col{
    width: 100%;
    text-align: center;
}

.big-col:last-child{
    font-size: 20px;
}

.start{
    background-image: url(../img/stars.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

.big-col-button{
    background-color: rgba(142,161,225,255);
    color: white;
    border-radius: 35px;
    font-size: 15px;
    border: none;
    padding: 13px 30px;
}

 h3{
    padding: 30px;
    font-size: 30px;
 }
/* END FIFTH LAYOUT */
/* SIXTH LAYOUT */
.sixth-container{
    background-color: rgba(35,39,42,255);
    width: 100%;
}

.sixth-row{
    width: calc(100% - 300px);
    margin: 0 150px;
    display:flex;  
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(66,78,114,255) ;
}

.col-1{
    width: 45%;
    padding: 30px;
}

.container-col{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-col{
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h-foot{
    font-size: 30px;
    color: rgba(114,137,220,255);
    padding: 20px 0;
}

strong{
    padding-top: 70px;
    padding-left: 5px;
}

span{
    color: rgba(113,136,217,255);
}

.sub-col p{
    padding: 5px;
    color: white;
}

.logo-ita{
    width: 20px;
}

select{
    border: none;
    background-color: rgba(35,39,42,255);
    color: white;
}

.img{
    color: white;
}

i{
    font-size: 20px;
    padding: 15px 20px 0 0;
}
/* END SIXTH LAYOUT */
/* END MAIN STYLES */
/* FOOTER STYLES */
footer{
    background-color: rgba(35,39,42,255);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.f-row{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.f-button{
    background-color:  rgba(142,161,225,255);
    color: white;
    border-radius: 35px;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
}
/* END FOOTER STYLES */
